<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
        <label for="username">UserName</label>
        {{userInfo.username}}<br/>
      </div>
      
      <div class="form-group">
        <label for="username">FirstName:</label>
        {{userInfo.firstName}}<br/>
      </div>
      <div class="form-group">
        <label for="username">LastName:</label>
        {{userInfo.lastName}}<br/>
      </div>
      <div class="form-group">
        <label for="username">Profession:</label>
        {{userInfo.Profession}}<br/>
      </div>
      <div class="form-group">
        <label for="username">Bio:</label>
        {{userInfo.Bio}}<br/>
      </div>
  
  </div>
</div>